.register-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-form input,
  .register-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #9b59b6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #8e44ad;
  }
  